@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&display=swap');

.frontPageProjectSectionMainContainer {
    background-image: linear-gradient(160deg, #b8d8e0 15%, #67abe4 50%, #7893f0 100%);
    height: fit-content;
}

.frontPageProjectSectionContainer {
    padding: 1% 10% 6% 10%;
}

#frontPageProjectSectionTitle {
    text-align: center;
    color: white;
    font-size: 5vh;
    margin-top: 1%;
    margin-bottom: 5%;
    font-family: 'Montserrat', 'sans-serif';
}

.frontPageProjectSectionProjectContainer {
    background-image: linear-gradient(135deg, #608bb3 20%, #476fb9 100%);
    height: 75vh;
    margin: 2% 10%;
    margin: auto;
    display: grid;
    grid-template-areas:
    'leftArrow image rightArrow'
    'text text text';
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 70vw;
    margin-bottom: 5vh;
}

.frontPageProjectSectionRightArrow {
    grid-area: rightArrow;
    font-size: 8vh;
    margin-left: 1vh;
    color: white;
    justify-content: center;
    cursor: pointer;

}

.frontPageProjectSectionLeftArrow {
    grid-area: leftArrow;
    font-size: 8vh;
    margin-right: 1vw;
    color: white; 
    justify-content: center;
    cursor: pointer;
}

.frontPageProjectSectionProjectImage {
    grid-area: image;
    height: 55vh;
    width: 60vw;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
}

.frontPageProjectSectionProjectSelection {
    background-color: rgb(255, 255, 255, 0.5);
    width: 60vw;
    height: 8vh;
    margin-top: -8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.frontPageProjectSectionProjectImage img {
    margin: auto;
    width: 60vw;
    max-height: 55vh;
    object-fit: cover;
}

.frontPageProjectSectionProjectText {
    grid-area: text;
    margin: auto;
    margin-top: 0vh;
    font-size: 1.8vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.frontPageProjectSectionReadMore {
    position: relative;
    width: fit-content;
    height: 10vh;
    background-color: white;
    border-radius: 10vh;
    display: table;
    vertical-align: middle;
    margin: auto;
    padding: 0px 5vh;
    z-index: 11;
}

.frontPageProjectSectionReadMore p {
    white-space: nowrap;
    color: #3d5a80;
    text-align: center;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
      
}

.frontPageProjectSectionReadMoreClick {
    display: flex;
    margin: auto;
    width: fit-content;
}