.Banner {
  height: 25vw;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0.25turn, #a2b5f3, #a9d0eb, #c5dfea);
}

.Header {
  color: #3d5a80;
  text-align: center;
  font-size: 5vw;
  text-shadow: 0px 0px 8px #2d7aff;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.Header x {
  color: white;
  font-size: 5vwpx;
  text-shadow: 0px 0px 8px;
}
.Header arrow {
  color: black;
  font-size: 65px;
  text-shadow: black 2px 2px 2px;
}

.BlurbWrapper hr {
  border: 2px solid white;
  width: 7vw;
}

.BlurbWrapper {
  text-align: center;
  font-size: 1.5vw;
  margin: auto;
  color: white;
  padding-bottom: 0px;
  padding-top: 0px;
  width: 50%;
}
