.ProjectPageBannercontainer{
    box-sizing: content-box;
    width: 100%;
    /*background: rgb(39,194,226);
    background: linear-gradient(90deg, rgba(39,194,226,1) 0%, rgba(178,178,217,1) 100%);*/
    background:linear-gradient(0.25turn, #a2b5f3, #a9d0eb, #c5dfea);
    align-items: center;
    font-family: 'Kanit';
    font-weight: 200;
}
.projectBorder {
    width: 8rem;
    height: 2px;
    border-radius: 2px;
    background-color: rgb(255,255,255);
    font-family: 'Kanit';
  }
  
  .projectBorderContainerTop {
    width: 100%;
    height: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    font-family: 'Kanit';
  }
  .projectBorderContainerBottom {
    width: 100%;
    height: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    font-family: 'Kanit';
  }
.box0{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px;
    padding: 0px;
    text-align: center;
    font-family: 'Kanit';
}
.box2{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 5px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Kanit';
}
.box4{
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: 'Kanit';
    padding-bottom: 0px;
    padding-top: 0px;
}

.description {
    color: #fff;
    font-size: 65px;
    text-shadow: black 2px 2px 2px;
    font-family: 'Kanit';
  }
  
  .description x {
    color: #0000FF;
    font-size: 65px;
    text-shadow: black 1px 1px 1px;
    font-family: 'Kanit';
  }
  .description arrow {
    color: black;
    font-size: 65px;
    text-shadow: black 2px 2px 2px;
    font-family: 'Kanit';
  }
  
  