.CardGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 10%;
    width: 65%;
    margin: auto;
}

@media only screen and  (max-width: 768px) {
    .CardGrid {
        justify-content: center;
    }
}