.teamPage {
    text-align: center;
}

.FormerCardContainer {
    background: linear-gradient(rgb(70,130,180,1), rgb(25,25,112,1));
}

.CurrentExecutiveTitleWrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
}

.GeneralTitleWrapper {
    display: flex;
    justify-content: center;
}

.FormerTitleWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.myStop1 {
    stop-color: lightsteelblue;
    stop-opacity: 1;
}

.myStop2 {
    stop-color: steelblue;
    stop-opacity: 1;
}

.BlackHeader {
    color: black;
    font-size: 40px;
}

.WhiteHeader {
    color: white;
    font-size: 40px;
}

html {
    scroll-behavior: smooth;
}

@media only screen and (max-width: 450px) {
    .CurrentExecutiveTitleWrapper, .FormerTitleWrapper, .GeneralTitleWrapper {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}