.teamPage {
    text-align: center;
}

.FormerCardContainer {
    background: linear-gradient(rgb(70,130,180,1), rgb(25,25,112,1));
}

.CurrentExecutiveTitleWrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    padding-bottom: 55px;

}

.TeamPageBannerSVG {
    height: 200px;
    overflow: hidden;
    z-index: -1;
    background: linear-gradient(0.25turn, #a2b5f3, #a9d0eb, #c5dfea);

}

.ExecTitleBorderContainer {
    width: fit-content;
    border-bottom-style: solid;
    border-color: gray;
    border-width: thick;
    margin-bottom: 40px;
}

.GeneralTitleWrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;
    padding-top: 100px;
}

.GeneralMemberBorderContainer {
    width: fit-content;
    border-bottom-style: solid;
    border-color: gray;
    border-width: thick;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.FormerTitleWrapper {
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
    padding-bottom: 55px;
}

.FormerExecBorderContainer {
    width: fit-content;
    border-bottom-style: solid;
    border-color: gray;
    border-width: thick;
    text-align: right;
    margin-bottom: 40px;
}

.myStop1 {
    stop-color: lightsteelblue;
    stop-opacity: 1;
}

.myStop2 {
    stop-color: steelblue;
    stop-opacity: 1;
}

.BlackHeader {
    color: black;
    font-size: 40px;
    padding-bottom: 0px;
    margin: 0;
    white-space: nowrap;
}

.WhiteHeader {
    color: white;
    font-size: 40px;
    margin: 0;
    white-space: nowrap;
}

@media only screen and (max-width: 450px) {
    .CurrentExecutiveTitleWrapper, .FormerTitleWrapper, .GeneralTitleWrapper {
        display: flex;
        justify-content: center;
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 375px) {
    .TeamPageBannerSVG {
        height: 150px;
    }
}