@font-face {
    font-family: 'roddenberry';
    src: url('./fonts/Roddenberry.otf');

}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

.navbarContainer {
    background-color: rgb(221, 221, 221);
    width: 94%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    align-items: center;
    box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.5);
}

.navbarIconContainer {
    position: relative;
    width: 30%;
    height: 100%;
    
    font-family: Roddenberry;
    align-self: center;
}

.navbarIconContainer a {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5%;
    font-size: 250%;
    color:  rgb(0, 1, 61)
}

.navbarIconContainer h1 {
    padding: 0;
    margin: 0;    
}

.navbarItemContainer {
    position: relative;
    display: flex;
    margin-right: 4%;
    padding: 0% 4%;
    height: 65%;
    width: fit-content;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.08);
    border-radius: 50px 0px 50px 0px;
    box-shadow: inset 0px 0px 20px 0px rgba(109, 109, 109, 0.3);
}

.navbarItems {
    font-size: 1.5em;
}

.navbarLine {
    padding-left: 25px;
    padding-right: 25px;
    font-weight: italic;
    font-size: 3em;
    align-self: center;
    margin-bottom: 9%;
    color: rgb(0, 0, 0, 0.5);
}

.navbarItems p {
    padding: 0px;
    border-style: solid;
    border-width: 0;
    border-bottom-width: 3px;
    border-color: rgb(0, 0, 0, 0);
    transition: 0.3s;
    font-family: 'Kanit', sans-serif;
}

.navbarItems:hover a {
    color: rgb(46, 46, 46);
}

.navbarItems:hover p {
    border-color: rgb(104, 105, 190);
}

.navbarIcon {
    height: 80%;
}

.navbarSignUp {
    width: fit-content;
}

.navbarSignUp p {
    background-color: rgb(255, 255, 255, 0.5);
    border-width: 0px;
    padding: 0px 10px;
    border-radius: 20px 20px;
    transition: 0.3s;
    white-space: nowrap;
}

.navbarSignUp:hover p {
    background-color: rgb(255, 255, 255, 1);
}

a {
    text-decoration: none;
    color: rgb(99, 99, 99);
}