@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

#frontMidSecArticle {
    height: fit-content;
    display: flex;
    justify-content: space-around;
    margin: 0vw 10vw 5vw 10vw;
    gap: 5vw;
}

#imgDiv img {
    width: 35vw;    
    box-shadow: -2vw -2vw 0vw 0vw rgb(135, 135, 255);
}

#frontMidSecArticle section h1 {
    
    margin: 0;
    font-size: 2vw;
}

#frontMidSecArticle section p {
    font-size: 1.3vw;
    font-family: 'Montserrat';
}

#frontMidSecArticle #frontMidSecUTOPH {
    position: relative;
    margin-left: 5vw;
}

#frontMidSecArticle #frontMidAbout {
    margin-top: -5vw;
}