@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh !important;
}
#root {
    /*fix for hidden navbar div*/
    overflow-x: hidden;

    /* #root and main should take up the space until the edge of the viewport at minimum*/
    flex: 1;

    /*setting child elements to fit remaining space too...*/
    display: flex; 
    flex-direction: column;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    flex: 1;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}



    ::-webkit-scrollbar {
    width: 10px;
    height: 8px; 
    
  }   

  ::-webkit-scrollbar-track {
    background: rgb(243, 243, 243);
    padding:  2px;
  }
    
  ::-webkit-scrollbar-thumb {
    background: rgb(168, 168, 168, 0.5);
    border-radius: 10px;
    width: 5px;
    padding: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(168, 168, 168, 1);
  }