#frontTopSec-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    font-family: Montserrat, 'sans-serif';
}

#frontTopSec-gradient {
    position: relative;
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#frontTopSec-header {
    position: relative;
    margin: auto;
    margin-top: 5%;
    font-size: 5vw;
    width: 50%;
}

#frontTopSecTopSec-header-one {
    color: white;
    text-shadow: 0px 0px 8px;
}

#frontTopSec-header-first {
    position: relative;
    left: 10%;
}

#frontTopSec-header-two {
    color: #3d5a80;
    text-shadow: 0px 0px 8px #2d7aff;
}

#frontTopSec-header-second {
    position: relative;
    margin-top: -10%;
    left: 40%;
}

#frontTopSec-header-bottom {
    display: flex;
    gap: 10vw;
}

#frontTopSec-message {
    width: fit-content;
    margin-left: 15vw;
}

#frontTopSec-message hr {
    border: 1.5px solid white;
    border-color: white;
    background-color: white;
    width: 7vw;
}

#frontTopSec-hr-one {
    margin-right: auto;
    margin-left: 0;
}

#frontTopSec-header-message {
    margin: 0;
    font-size: 2.2vw;
    color: white;
}

#frontTopSec-hr-two {
    margin-right: 0;
    margin-left: auto;
}

#frontTopSec-gradient-curve {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}
#frontTopSec-gradient-container,
#frontTopSec-gradient-content {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#frontTopSec-gradient-content {
    z-index: 1;
}

#frontTopSec-header-fig > img {
    position: relative;
    width: 25vw;
    top: -5vw;
    left: 10vw;
}
